<html>

<head>
    <!-- <script src="https://www.paypal.com/sdk/js?intent=capture&amp;commit=true&amp;vault=false&amp;components=buttons&amp;locale=en_US&amp;debug=true&amp;currency=INR&amp;buyer-country=IN&amp;client-id=AcuuDiWgApKeQx7oY6wuGh2kbAIzy8B1NrruTzVl_vn3Dqv7a-EYGKlHRMb70fjc3eX3EP5rlM3VUp8g"
        data-client-token=""></script> -->

    <script src="https://www.paypal.com/sdk/js?components=buttons&amp;locale=en_US&amp;currency=INR&amp;buyer-country=IN&amp;client-id=AcuuDiWgApKeQx7oY6wuGh2kbAIzy8B1NrruTzVl_vn3Dqv7a-EYGKlHRMb70fjc3eX3EP5rlM3VUp8g"
        data-client-token=""></script>

</head>

<body>
    <div style="text-align: center; margin-top: 10%">
        <h3>Payment SDK - Server side implementation with Payment V1</h3>
        <div>
            Amount: <input type="text" id="amountId" value="1" size="4" />
            Currency : <select id="selectedCurrency">
                <option value="USD" selected="true">USD</option>
                <!-- <option value="USD" >USD</option> -->
            </select>
        </div>
        <br><br>

        <div style="width: 10%; margin:auto" id="paypal-button-container"></div>
    </div>

    <script>
        paypal.Buttons({
            style: {
                color: 'blue',
                layout: 'vertical',
                shape: 'rect',
                label: 'checkout'
            },
            createOrder: function (data, actions) {
                var body = {
                    intent: "sale",
                    payer: {
                        "payment_method": "paypal"
                    },
                    transactions: [
                        {
                            amount: {
                                total: document.getElementById("amountId").value,
                                currency: document.getElementById("selectedCurrency").value
                            }
                        }
                    ],
                    redirect_urls: {
                        "return_url": "https://www.paypal.com/checkoutnow/error",
                        "cancel_url": "https://www.paypal.com/checkoutnow/error"
                    }

                };
                var Create_URL = '/api/paypal/ec/create-payment/';
                console.log(body);
                return fetch(Create_URL, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(body)
                }).then(res => res.json())
                    .then(data => {
                        console.log(data);
                        var approval_url = data['links']['1']['href'] 
                        var token = approval_url.substr(-20); 
                        return token; 
                    })
            },
            onApprove: function (data, actions) {
                console.log(data);

                var execute_payment = "/api/paypal/ec/execute-payment/";
                return fetch(execute_payment, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                    paymentID: data.paymentID,
                    payerID: data.payerID
                  })
                }).then(res => res.json())
                    .then(function (result) {
                        console.log(result);
                        alert('Payment Successful')
                    })
            }
        }).render('#paypal-button-container');
    </script>

</body>

</html>