<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <FORM action="https://www.sandbox.paypal.com/signin/authorize" method="post" accept-charset="utf-8">
        <fieldset>
        <legend>REGULAR FORM BUTTON</legend>
        <input type="hidden" name="response_type" value="code" />
        <input type="hidden" name="state" value="blablasfdsafds&p">
        <input type="hidden" name="client_id" value="ATyJrhMPMKerdOvwPiqKS_bmXgAqCPENA_iDD5Db68P86Id_zVIs3f1XyZ7vgiqHXUc_4rfQRdYvE-AF" />
        <input type="hidden" name="redirect_uri" value="http://www.amazon.com" />
        <input type="hidden" name="scope" value="openid https://uri.paypal.com/services/paypalattributes https://uri.paypal.com/services/wallet/balance-accounts/read"/>
        <input type="hidden" name="nonce" value="58ZG7qGac4OnfdsfsdanUEK6NsfdguUr8Q" />
        <input id="submit" type="submit" value="Authorize" />
        </fieldset>
        </FORM>
</body>
</html>